{% extends "layout.html" %}

{% block title %}
    Rankings
{% endblock %}

{% block main %}
<div class="section">

    <h2>Rankings</h2>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Average Guesses</th>
                <th>Games Played</th>
                <th>Win %</th>
            </tr>
        </thead>
        <tbody>
            <!-- TODO: Loop through the list of players -->
            {% for row in sortedUserStats %}
            <tr>
                <td>{{ row.name }}</td>
                <td>{{ row.average_guesses }}</td>
                <td>{{ row.games }}</td>
                <td>{{ (row.win_percentage) | perc}}</td>
            </tr>
            {% endfor %}
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
